.form-controldark::placeholder {
    color: white;
    opacity: 1;
}
.form-controllight::placeholder {
    color: black;
    opacity: 1;
}
.light{
    background-color: whitesmoke;
}
.dark{
    background-color: black;
    border: none;
}